/* écran inférieur à 480px */

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }

  .iconInputButton,
  footer {
    width: 260px;
  }
  .containeraccomodation img,
  .activity img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 200px;
    background: white;
    border-radius: 10px 10px 10px 10px;
  }
}
.popularContainer {
  height: 100px;
  width: 190px;
  border-radius: 10px 10px 0 0;
}
footer {
  display: flex;
  justify-content: space-between;
}
