@media screen and (min-width: 768px) {
  /*.....................Header...................*/

  header {
    margin-left: 15px;
    margin-top: 65px;
  }

  .header a {
    display: none;
  }

  .selection a {
    display: none;
  }

  .selection2 {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    margin-left: 500px;
    margin-top: -55px;
    font-size: 17px;
  }

  /*...................Main.......................*/

  .recherche {
    margin-left: 15px;
  }

  .presentation {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  /*..............iconInputButton.................*/

  .loupe i {
    display: none;
  }

  /*.................Filtres.....................*/

  .title {
    margin-right: 10px;
    align-items: center;
  }

  .economy {
    margin-left: 20px;
    margin-right: 20px;
  }

  .family {
    margin-right: 20px;
  }

  .romantic {
    margin-right: 20px;
  }

  .pets {
    margin-right: 20px;
  }

  /*...............Bloc central..................*/

  /*...........hébergements à marseille..........*/

  .containerAccomodation {
    height: 450px;
    width: 610px;
    margin-left: 15px;
  }

  .title1 {
    font-size: 17px;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 45px;
  }

  .accomodation {
    margin-top: 20px;
  }

  .picture1 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
    margin-right: 10px;
  }

  .picture1 img {
    align-items: center;
    width: 170px;
    height: 80px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details1 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .picture2 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
    margin-right: 10px;
  }

  .picture2 img {
    width: 170px;
    height: 80px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details2 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .picture3 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
  }

  .picture3 img {
    width: 170px;
    height: 80px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details3 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .picture4 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
    margin-right: 10px;
  }

  .picture4 img {
    width: 170px;
    height: 80px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details4 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .picture5 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
    margin-right: 10px;
  }

  .picture5 img {
    width: 170px;
    height: 80px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details5 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .picture6 {
    flex-wrap: wrap;
    width: 170px;
    height: 150px;
  }

  .picture6 img {
    height: 80px;
    width: 170px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details6 {
    flex-direction: column;
    font-size: 10px;
    margin-left: 5px;
    line-height: 17px;
  }

  .plus {
    font-size: 13px;
    font-weight: bolder;
    margin-left: 45px;
    margin-top: 30px;
  }

  /*..............Containeur populaires..........*/

  .containerPopular {
    height: 450px;
    width: 330px;
    margin-right: 15px;
  }

  .title2 {
    flex-direction: row;
    justify-content: space-around;
    font-size: 17px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .popular {
    flex-direction: column;
    align-items: center;
  }

  .label1 {
    flex-direction: row;

    width: 250px;
    height: 100px;
    margin-bottom: 20px;
  }

  .label1 img {
    width: 130px;
    height: 95px;
    border-radius: 15px 0px 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive1 {
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 10px;
    line-height: 17px;
  }

  .label2 {
    width: 250px;
    height: 100px;
    margin-bottom: 20px;
  }

  .label2 img {
    width: 130px;
    height: 95px;
    border-radius: 15px 0px 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive2 {
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 10px;
    line-height: 17px;
  }

  .label3 {
    flex-direction: row;

    width: 250px;
    height: 100px;
    margin-bottom: 20px;
  }

  .label3 img {
    width: 130px;
    height: 95px;
    border-radius: 15px 0px 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive3 {
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 10px;
    line-height: 17px;
  }
  /*....................Containers activites...............*/

  .title3 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: bolder;
    margin-left: 15px;
  }
  .activites {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
  }
  .label4 {
    height: 320px;
    width: 200px;
  }

  .label4img img {
    width: 200px;
    height: 280px;
  }

  .descriptive4 {
    font-size: 13px;
    margin-left: 15px;
  }

  .label5 {
    flex-direction: column;
  }
  .label5img1 {
    width: 200px;
    height: 180px;
    margin-bottom: 35px;
  }
  .label5image1 img {
    width: 200px;
    height: 130px;
  }

  .descriptive5 {
    font-size: 13px;
    margin-left: 15px;
  }
  .label5img2 {
    width: 200px;
    height: 110px;
  }

  .label5image2 img {
    height: 80px;
    width: 200px;
  }
  .descriptive5b {
    font-size: 13px;
    margin-left: 15px;
  }
  .label6 {
    height: 320px;
    width: 200px;
  }

  .label6img img {
    width: 200px;
    height: 280px;
  }

  .descriptive6 {
    font-size: 13px;
    margin-left: 15px;
  }

  .label7 {
    flex-direction: column;
  }
  .label7img1 {
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }
  .label7image1 img {
    width: 200px;
    height: 110px;
  }
  .descriptive7 {
    font-size: 13px;
    margin-left: 15px;
  }
  .label7img2 {
    width: 200px;
    height: 150px;
  }
  .label7image2 img {
    width: 200px;
    height: 110px;
  }

  .descriptive7b {
    font-size: 13px;
    margin-left: 15px;
  }

  .findepage {
    justify-content: space-between;

    margin-right: 350px;
    margin-left: 25px;
  }

  .findepage .details {
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 10px;
  }
}

/*..............max-width: 414px...............*/

@media screen and (max-width: 414px) {
  a:hover {
    color: #0065fc;
  }

  /*.................Header.......................*/

  header {
    margin-top: 35px;
    font-size: 15px;
  }

  .header {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .selection {
    font-size: 15px;
  }

  .selection2 {
    display: none;
  }

  /*..............Main..........................*/

  .recherche {
    margin-left: 20px;
    margin-right: 15px;
  }

  .presentation {
    margin-bottom: 35px;
    margin-top: 30px;
  }

  .presentation h2 {
    font-size: 23px;
  }

  .presentation p {
    font-size: 15px;
    font-weight: 300;
  }

  /*.............iconInputButton..................*/

  .iconInputButton i {
    font-size: 19px;
    height: 50px;
    width: 85px;
  }

  input {
    border: 1px solid #f2f2f2;
    width: 300px;
    height: 50px;
    border-radius: 0;
  }

  .button {
    display: none;
  }

  .loupe i {
    font-size: 23px;
    height: 50px;
    width: 60px;
  }

  /*..............Filtres.........................*/

  .filters {
    flex-direction: column;
  }

  .filters i {
    padding: 15px;
    font-size: 20px;
  }

  .filters a {
    align-items: center;
    padding-left: 10px;
  }

  .title {
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .economy {
    width: 180px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .family {
    width: 140px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 15px;
  }

  .romantic {
    width: 170px;
    margin-bottom: 20px;
    font-size: 15px;
  }

  .pets {
    width: 220px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .resultat .fas {
    margin-top: 15px;
  }
  .resultat h3 {
    font-size: 14px;
  }

  /*...............Bloc central...................*/

  .centralBlock {
    flex-direction: column-reverse;
  }

  /*..........hébergements à marseille...........*/

  .containerAccomodation {
    background-color: white;

    border-radius: 0;
  }

  .title1 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .accomodation {
    flex-direction: column;
    align-items: center;
  }
  .picture1 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture1 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details1 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .picture2 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture2 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details2 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .picture3 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture3 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details3 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .accomodationbis {
    flex-direction: column;
    align-items: center;
  }

  .picture4 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture4 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details4 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .picture5 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture5 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details5 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .picture6 {
    flex-wrap: wrap;
    width: 330px;
    height: 180px;
    margin-bottom: 10px;
  }

  .picture6 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .details6 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .plus {
    font-size: 17px;
    font-weight: bolder;
    margin-top: 55px;
    margin-bottom: 40px;
    margin-left: 25px;
  }

  /*.............. Containeur populaires..........*/

  .containerPopular {
    background-color: #f2f2f2;
    width: 375px;
    height: 550px;
    border-radius: 0;
    margin-bottom: 25px;
  }

  .title2 {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
  }

  .popular {
    flex-direction: column;
    align-items: center;
  }
  .label1 {
    width: 330px;
    height: 130px;
    margin-top: 20px;
  }

  .label1 img {
    width: 150px;
    height: 125px;
    border-radius: 15px 0 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive1 {
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 10px;
    line-height: 25px;
  }

  .label2 {
    width: 330px;
    height: 130px;
    margin-top: 20px;
  }

  .label2 img {
    width: 150px;
    height: 125px;
    border-radius: 15px 0 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive2 {
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 10px;
    line-height: 25px;
  }

  .label3 {
    width: 330px;
    height: 130px;
    margin-top: 20px;
  }

  .label3 img {
    width: 150px;
    height: 125px;
    border-radius: 15px 0 0 15px;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive3 {
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 10px;
    line-height: 25px;
  }

  /*....................Containers activites...............*/

  .title3 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: bolder;
    margin-left: 25px;
    font-size: 20px;
  }
  .activites {
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }
  .label4 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }

  .label4img img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive4 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .label5 {
    flex-direction: column;
  }
  .label5img1 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }
  .label5image1 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive5 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }
  .label5img2 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }
  .label5image2 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive5b {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }
  .label6 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }

  .label6img img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive6 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .label7 {
    flex-direction: column;
  }
  .label7img1 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }
  .label7image1 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive7 {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }
  .label7img2 {
    width: 330px;
    height: 160px;
    margin-bottom: 10px;
  }
  .label7image2 img {
    width: 330px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
  }

  .descriptive7b {
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    line-height: 17px;
  }

  .findepage {
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 255px;
    margin-left: 25px;
  }
  .findepage .details {
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: 10px;
  }
}
/*..............max-width: 768px...............*/

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .filters {
    flex-wrap: wrap;
  }

  .economy {
    width: 180px;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .family {
    width: 130px;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .romantic {
    width: 180px;
    margin-bottom: 20px;
    font-size: 13px;
  }

  .pets {
    width: 180px;
    margin-bottom: 20px;
    font-size: 13px;
    margin-left: 75px;
  }
}
