@media screen and (max-width: 1024px) {
  .loupe {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  /* Header */

  .headerSearch {
    margin: 0px 0px 0px 0px;
  }

  #logo {
    width: 65px;
    height: 35px;
  }

  .selection {
    justify-content: space-around;
  }

  /* presentation */
  .presentation {
    line-height: 1px;
  }
  .presentation h3 {
    line-height: 25px;
    font-size: x-large;
  }

  .presentation p {
    font-size: medium;
  }

  /* iconInputButton */

  .iconInputButton i {
    height: 35px;
    font-size: small;
  }
  input {
    border: 1px solid #f2f2f2;
    width: 230px;
    height: 30px;
    border-radius: 0;
  }

  .button {
    display: none;
  }

  /* Filtres */

  .filters {
    display: flex;
    flex-direction: column;
  }
  .choice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .title {
    justify-content: flex-start;
  }
  .economy {
    width: 140px;
  }

  .family {
    width: 95px;
  }

  .romantic {
    width: 150px;
  }

  .pets {
    width: 175px;
  }

  /* Bloc central */

  .centralBlock {
    flex-direction: column-reverse;
  }

  .containerAccomodation {
    background-color: white;
    height: 700px;
    width: 100%;
  }

  .containerPopular {
    background-color: #f2f2f2;
    height: 450px;
    width: 100%;
  }
}
