* {
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  src: url("https://fonts.googleapis.com/css2? family = Raleway & display = swap");
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "raleway", sans-serif;
}

a:hover {
  text-decoration: overline #0065fc;
  color: #0065fc;
}

/*..............Header...........................*/

#logo {
  width: 109px;
  height: 48px;
  margin-left: 50px;
}

header {
  font-size: 20px;
  margin-top: 65px;
}
.header {
  display: flex;
}

.header a {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  margin-top: 20px;
}

.selection {
  display: flex;
}

.selection a {
  text-decoration: none;
}

.selectionSecond {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  font-size: 17px;
  margin: -55px 0 0 500px;
}

/*....................................................Main...........................................................................*/

.research {
  margin-left: 50px;
}

.presentation {
  margin: 75px 0 25px 0;
}

/*..............................................presentation..................................................................*/
.presentation p {
  font-size: 18px;
}
/*..................................................iconInputButton................................................................*/

.iconInputButton {
  display: flex;
  margin-bottom: 30px;
}

.iconInputButton i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 55px;
  font-size: 18px;
}

input {
  border-right: none;
  border-left: none;
  height: 50px;
  border: 2px solid #f2f2f2;
  width: 210px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background-color: #0065fc;
  color: white;
  height: 50px;
  width: 120px;
  border: none;
  font-weight: bold;
}

.loupe i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  background-color: #0065fc;
  color: white;
  font-size: 23px;
  font-weight: bold;
}

/*....................................................Filtres.............................................................................*/

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 600;
  margin-right: 10px;
  align-items: center;
}

.filters {
  display: flex;
  margin-bottom: 15px;
  font-size: 17px;
}

.filtersSecond {
  display: flex;
  flex-direction: row;
}
.filters i {
  background-color: #deebff;
  border-radius: 50%;
  padding: 15px;
  color: #0065fc;
}

.filters a {
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.economy {
  border: 2px solid #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  width: 200px;
  margin-right: 20px;
}

.family {
  border: 2px solid #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  width: 140px;
  margin-right: 20px;
}

.romantic {
  border: 2px solid #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  width: 170px;
  margin-right: 20px;
}

.pets {
  border: 2px solid #f2f2f2;
  border-radius: 30px 30px 30px 30px;
  width: 230px;
  margin-right: 20px;
}

.result {
  display: flex;
  align-items: center;
  margin: 30px 0 30px -20px;
}

.result .fas {
  background-color: white;
  color: #0065fc;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
  font-size: 9px;
  margin: -3px 10px 0 0;
}
.result i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result h3 {
  font-weight: 200;
  font-size: 13px;
}

/*................................................Bloc central............................................................................*/

.centralBlock {
  display: flex;
  margin: 0 25px 0 25px;
}

.star i {
  color: #0065fc;
  font-size: 10px;
}

.star .no-star {
  color: #f2f2f2;
}

a {
  text-decoration: none;
}

/*.............................................. hébergements à marseille ....................................................................*/

.containerAccomodation {
  flex: 2;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}

.containerAccomodation h3 {
  margin: 30px 0 0 60px;
}

.accomodation {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 0;
  margin: 30px 0 30px 0;
}

.accomodation a {
  text-decoration: none;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  padding: 5px;
  width: 220px;
  height: 160px;
}
.picture .star {
  margin-left: 5px;
}

.details p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
}

.picture1img {
  background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100px;
}

.picture2img {
  background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100px;
}

.picture3img {
  background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100px;
}

.accomodationSecond {
  display: flex;
  justify-content: space-evenly;
}

.accomodationSecond a {
  text-decoration: none;
}

.picture4img {
  background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
}

.picture5img {
  background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
}

.picture6img {
  background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 100px;
}

.plus {
  font-size: 13px;
  margin: 90px 0 30px 60px;
  font-weight: bolder;
}

/*............................................ Containeur populaires..................................................................... */

.containerPopular {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
}
.containerPopular .star {
  padding-top: 40px;
}

.titre {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 30px 60px;
}
.popular a {
  text-decoration: none;
}
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  margin-bottom: 30px;
  width: 320px;

  height: 140px;
  padding: 5px;
}
.descriptive {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 15px 0 15px;
}

.label1img {
  background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 150px;
  height: 130px;
}

.label2img {
  background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 220px;
  height: 130px;
}

.label3img {
  background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 0px 0px 15px;
  width: 150px;
  height: 130px;
}

/*.................................................... Containeur activites............................................... */

.activites h3 {
  font-weight: bolder;
  margin: 0 0 20px 60px;
}

.activites {
  margin-top: 50px;
}
.activity {
  display: flex;
  justify-content: space-around;
}

.activity a {
  text-decoration: none;
}
.labelSecond {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  width: 250px;
  height: 330px;
}

.label4img {
  background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 290px;
}

.description {
  font-size: 13px;
  margin-left: 15px;
}

.label5 {
  display: flex;
  flex-direction: column;
}

.label5img1 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  width: 250px;
  height: 170px;
}

.label5image1 {
  background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 130px;
}

.label5img2 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  width: 250px;
  height: 130px;
  margin-top: 30px;
}

.label5image2 {
  background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 90px;
}

.label6img {
  background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 290px;
}

.label7 {
  display: flex;
  flex-direction: column;
}

.label7img1 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  margin-bottom: 30px;
  width: 250px;
  height: 150px;
}

.label7image1 {
  background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 110px;
}

.label7img2 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 3px 28px -7px rgba(0, 0, 0, 0.36);
  margin-bottom: 30px;
  width: 250px;
  height: 150px;
}

.label7image2 {
  background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
  margin-bottom: 5px;
  width: 100%;
  height: 110px;
}

footer {
  background-color: #f2f2f2;
  margin-top: 30px;
}

.findepage {
  display: flex;
  justify-content: space-between;
  margin-right: 350px;
}

.findepage .details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
}
.apropos h4 {
  margin-left: 5px;
}
.apropos {
  font-size: 14px;
  margin: 50px 0 75px 50px;
}
.apropos H4 {
  margin-bottom: 25px;
}

.noshebergements {
  margin: 50px 0 75px 50px;
  font-size: 14px;
}
.noshebergements h4 {
  margin: 0 0 25px 5px;
}
.assistance {
  margin: 50px 0 75px 50px;
  font-size: 14px;
}

.assistance h4 {
  margin: 0 0 25px 5px;
}
