* {
  box-sizing: border-box;
}

body {
  margin: 15px;
  padding: 15px;
}
a:hover {
  background-color: red;
}
@font-face {
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
}
img {
  margin-top: 50px;
  width: 10%;
  height: 10%;
}

nav {
  display: flex;
  padding-left: 75%;
  justify-content: flex-end;
}
.conteneur-flex {
  display: flex;
  flex-direction: row;

  list-style-type: none;
}

/* section boutton de recherche */

#iconinputbutton {
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: start;
  height: 35px;
}

#iconinputbutton i {
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  background-color: #f2f2f2;
  width: 10%;
  height: 35px;
}

button {
  border-radius: 0px 10px 10px 0px;
  width: 120%;
  height: 35px;
  background-color: #0065fc;
  color: white;
}

input {
  width: 120%;
  height: 35px;
}
/* Filtres */

#filtres {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

#filtres i {
  font-size: small;
  padding-left: 1%;
  border: 1px solid #f2f2f2;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
  width: 115%;
}

.informations {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

/* hébergements Marseille */

.conteneurhebergements {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 450px;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 10px 10px 10px 10px;
}
.conteneurhebergements figure {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 160px;
}
figcaption {
  font-size: xx-small;
}
.vignette img {
  width: 150px;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
}
figcaption .fas {
  color: #0065fc;
}

/* hébergements populaires */

.conteneurpopulaires {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: flex-end;
  background-color: #f2f2f2;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
}

.conteneurpopulaires figure {
  display: flex;
  align-items: flex-end;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 180px;
}

.conteneurpopulaires .etiquette img {
  width: 90px;
  height: 110px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  
}

/* Activités à Marseille */

#conteneuractivites {
  display: flex;
  align-items: center;
  float: inline-end;
}

.case1 img {
  display
  border-radius: 10px 10px 0px 0px;
  width: 250px;
  height: 250px;
}

.case2 img {
  border-radius: 10px 10px 0px 0px;
  width: 150px;
  height: 90px;
}

.case3 img {
  border-radius: 10px 10px 0px 0px;
  width: 250px;
  height: 250px;
}

.case4 img {
  border-radius: 10px 10px 0px 0px;
  width: 150px;
  height: 90px;
}

/* footer */

#footer {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  background-color: #f2f2f2;
}

#footer p {
  font-size: x-small;
}
h4 {
  line-height: 2%;
}
